

.contour {
  border-radius: 6px;
  border: 1px solid #6610f2;
  padding-left:  20px;
  padding-right: 20px;
  padding-top: 10px;
}


.bgh_img {
  background-color: #212529;
  border-radius: 5px;
  border: 2px solid #6610f2;
  padding-left:  20px;
  padding-right: 20px;
  padding-top: 10px;
}

.bgl_img {
  background-color: #ff7518;
  border-radius: 5px;
  border: 2px solid #f0ad4e;
  padding-left:  20px;
  padding-right: 20px;
  padding-top: 10px;
}


.bg_img {
  background-color: #613d7c;
  border-radius: 5px;
  border: 2px solid #6610f2;
  padding-left:  20px;
  padding-right: 20px;
  padding-top: 10px;
}

.bg_grey {
  background-color: #adb5bd;
  border-radius: 5px;
  border: 1px solid #212529;
  padding-left:  20px;
  padding-right: 20px;
  padding-top: 10px;
}

.alert {
  background-color: #ff0039;
  border-radius: 5px;
  color: white;
  display: inline-block;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}








